* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 800;
}

h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

body {
  background-color: rgb(255, 204, 221);
}
